<nav class="navbar navbar-default navbar-fixed">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="hidden-lg hidden-md pull-left"> <img src="./assets/img/paradigm-hz-black.png"  height="50"/> </span>
         <a class="navbar-brand hidden-sm hidden-xs" href="#"> Pod CGP-001</a>
      </div>
      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav navbar-left">
           <li class="hidden-sm hidden-xs">
              <a href="" class="text-center" style="padding:4px;">
              <span class="btn btn-danger btn-fill btn-xs" style="padding: 4px;margin:0">State: <b>Emergency</b></span>
              </a>
           </li>

           <li class="active-pro hidden-md hidden-lg" style="
              /* background-color: red */">
              <a href="upgrade.html" style="
                 background-color: rgba(255, 0, 0, 0.72);">
                 <i class="pe-7s-box2"></i>
                 <p>State: Emegency</p>
              </a>
           </li>
            <li>
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-dashboard text-warning"></i>
                  <p class="hidden-lg hidden-md">Performance</p>
               </a>
            </li>
            <li>
               <a href="">
                  <i class="fa fa-wifi text-success"></i>
                  <p class="hidden-lg hidden-md">Network Status</p>
               </a>
            </li>

            <li class="dropdown">
               <a href="#">
                  <i class="fa fa-refresh" style=""></i><span class="hidden-sm hidden-xs">&nbsp; &nbsp; 1 second ago</span>
                  <p class="hidden-lg hidden-md">1 second ago</p>
               </a>
            </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="">
                  <p></p>
               </a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <p>
                     Commands&nbsp;<b class="caret"></b>
                  </p>
               </a>
               <ul class="dropdown-menu">
                  <li><a href="#">Fill</a></li>
                  <li><a href="#">Standby</a></li>
                  <li><a href="#">Reboot</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><b>Arm</b></a></li>
                  <li><a href="#"><b>Fire</b></a></li>
               </ul>
            </li>

            <li class="active-pro hidden-md hidden-lg" style="
               /* background-color: red */">
               <a href="upgrade.html" style="
                  background-color: rgba(255, 0, 0, 0.72);">
                  <i class="pe-7s-close-circle"></i>
                  <p>Emergency Stop</p>
               </a>
            </li>

            <li class="hidden-sm hidden-xs">
               <a href="" class="text-center" style="padding: 4px;">
                  <span class="btn btn-danger btn-xs btn-fill text-light" style="padding: 4px;margin:0"> ESTOP </span>
               </a>
            </li>
            <li class="separator hidden-lg"></li>
         </ul>
      </div>
   </div>
</nav>
