{% include '_header.html' %}
      <div class="wrapper">
         <!-- #sidebar Template -->
         {% include '_sidebar.html' %}
         <div class="main-panel">
            <!-- #menu Template -->
            {% include '_menu.html' %}
            <div class="content">
               <div class="container-fluid">
                 <div class="row hidden-md hidden-lg">
                    <div class="col-xs-3">
                      <div class="card">
                         <div class="header">
                            <h4 class="title">State</h4>
                         </div>
                         <div class="content">
                            <div class="text-center">
                              <div style="height:20px" class="clearfix">&nbsp;</div>
                               <span class="btn btn-danger btn-fill btn-md"><b>Emergency</b></span> <br>
                               <div style="height:10px" class="clearfix">&nbsp;</div>
                               State 11
                            </div>
                         </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="card">
                         <div class="header">
                            <h4 class="title">Performance</h4>
                         </div>
                         <div class="content">
                            <div class="text-center">
                               <i class="fa fa-dashboard fa-5x fa-fw text-warning"></i> <br>Degraded
                            </div>
                         </div>
                      </div>
                    </div>

                    <div class="col-xs-3">
                      <div class="card">
                         <div class="header">
                            <h4 class="title">Network</h4>
                         </div>
                         <div class="content">
                            <div class="text-center">
                               <i class="fa fa-wifi fa-5x fa-fw text-success"></i> <br> Healthy
                            </div>
                         </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="card">
                         <div class="header">
                            <h4 class="title">Activity</h4>
                         </div>
                         <div class="content">
                            <div class="text-center">
                              <i class="fa fa-refresh fa-5x fa-fw" style=""></i> <br> 1 second ago
                            </div>

                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="alert alert-danger">
													 <span><b><i class="fa fa-exclamation"></i> Emergency Vehicle Notification - Cease Filling Immediately. Fill Valve State: <code>Error</code></b> </span>
                           <span class="pull-right"> Alert ID: <a href="#" style="color:white;text-decoration:underline">3d92af</a> </span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4">
                        <div class="card">
                           <div class="header">
                              <h4 class="title">Air Supply</h4>
                              <p class="category">Piping &amp; Instrumentation</p>
                           </div>
                           <div class="content">
                              <div class="text-center">
                                 <img src="./assets/img/cw3-pdb-pid.png" width="80%">
                              </div>
                              <div class="footer">
                                 <div class="legend"><i class="fa fa-circle text-success"></i>&nbsp;Valve Closed&nbsp;<i class="fa fa-circle text-info"></i>&nbsp;Valve Open
                                    <i class="fa fa-circle text-warning"></i>&nbsp;Transition&nbsp;<i class="fa fa-circle text-danger"></i>&nbsp;Error&nbsp;
                                 </div>
                                 <hr>
                                 <div class="stats">
                                    <i class="fa fa-check text-success"></i>&nbsp; Air Supply Ok
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="card">
                           <div class="header">
                              <h4 class="title">Fill Controls</h4>
                              <p class="category">Primary Tank</p>
                           </div>
                           <div class="content">
                              <hr>
                              <div class="text-warning">
                                 <h2>1560 <small>PSI</small>&nbsp;</h2>
                              </div>
                              <hr>
                              <h2>+5&nbsp;<small>PSI/s</small>&nbsp;</h2>
                              <hr>
                              <h2>15° &nbsp;<small>C</small>&nbsp;</h2>
                              <div class="footer">
                                 <hr>
                                 <div class="stats">
                                    <i class="fa fa-times text-danger"></i>&nbsp; Primary Tank Fault
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="card">
                           <div class="header">
                              <h4 class="title">Environment</h4>
                              <p class="category">Pressure, Humidity, Temp</p>
                           </div>
                           <div class="content">
                              <hr>
                              <div class="">
                                 <h2>500 <small>Torr</small>&nbsp;</h2>
                              </div>
                              <hr>
                              <h2>20%&nbsp;<small>RH</small>&nbsp;</h2>
                              <hr>
                              <h2>25° &nbsp;<small>C</small>&nbsp;</h2>
                              <div class="footer">
                                 <hr>
                                 <div class="stats">
                                    <i class="fa fa-check text-success"></i>&nbsp; Environment Ok
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="card">
                           <div class="header">
                              <h4 class="title">Navigation</h4>
                              <p class="category">Position, Velocity, Acceleration</p>
                           </div>
                           <div class="content">
                              <div id="chartHours" style="" class="ct-chart"></div>
                              <div class="footer">
                                 <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Position&nbsp;<i class="fa fa-circle text-danger"></i> Velocity&nbsp;<i class="fa fa-circle text-warning"></i> Acceleration&nbsp;
                                 </div>
                                 <hr>
                                 <div class="stats">
                                    <i class="fa fa-check text-success"></i>&nbsp; Navigation Ok
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="card ">
                           <div class="header">
                              <h4 class="title">Flight Profile</h4>
                              <p class="category">Competition Flight &nbsp;• &nbsp;Loaded From Disk</p>
                           </div>
                           <div class="content">
                              <table class="table table-hover table-striped">
                                 <thead>
                                    <tr>
                                       <th>Ok</th>
                                       <th>Name</th>
                                       <th>Value</th>
                                       <th>Units</th>
                                       <th>Description</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>System Pressure</td>
                                       <td>1500</td>
                                       <td>PSI</td>
                                       <td>Primary Tank Pressure (1 ATM Relative)</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Track Length</td>
                                       <td>1250</td>
                                       <td>Meters</td>
                                       <td>Total Track Length</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-danger"></i></td>
                                       <td>Launch Position</td>
                                       <td>-4</td>
                                       <td>Meters</td>
                                       <td>Position of vehicle at launch</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Brake Set A - Enable</td>
                                       <td>True</td>
                                       <td>Boolean</td>
                                       <td>Enable Braking with brake set A</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Brake Set A - Max PSI</td>
                                       <td>500</td>
                                       <td>PSI</td>
                                       <td>Maximium Allowable Pressure in Brake set A</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Brake Set B - Enable</td>
                                       <td>True</td>
                                       <td>Boolean</td>
                                       <td>Enable Braking with brake set B</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Brake Set B - Max PSI</td>
                                       <td>500</td>
                                       <td>PSI</td>
                                       <td>Maximium Allowable Pressure in Brake set B</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Brake Set C - Enable</td>
                                       <td>True</td>
                                       <td>Boolean</td>
                                       <td>Enable Braking with brake set C</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Brake Set C - Max PSI</td>
                                       <td>500</td>
                                       <td>PSI</td>
                                       <td>Maximium Allowable Pressure in Brake set C</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-success"></i></td>
                                       <td>Target Velocity</td>
                                       <td>282</td>
                                       <td>m/s</td>
                                       <td>Target Vehicle Velocity</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-warning"></i></td>
                                       <td>Priority Braking</td>
                                       <td>False</td>
                                       <td>Boolean</td>
                                       <td>Engage brakes even if sig. air remains</td>
                                    </tr>
                                    <tr>
                                       <td><i class="fa fa-circle text-warning"></i></td>
                                       <td>Fixed Buffer Zone</td>
                                       <td>0</td>
                                       <td>Meters</td>
                                       <td>Buffer Zone at end of track</td>
                                    </tr>
                                 </tbody>
                              </table>
                              <div class="footer">
                                 <div class="legend">
                                    <i class="fa fa-circle text-success"></i>&nbsp;Config Ok&nbsp;<i class="fa fa-circle text-warning"></i>&nbsp;Config Warning&nbsp;<i class="fa fa-circle text-danger"></i>&nbsp;Config Error
                                 </div>
                                 <hr>
                                 <div class="stats">
                                    <i class="fa fa-times text-danger"></i> Flight Profile Error &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="card ">
                           <div class="header">
                              <h4 class="title">Events</h4>
                              <p class="category">Status Alerts, State Transitions, Faults and Errors</p>
                           </div>
                           <div class="content">
                              <div class="table-full-width">
                                 <table class="table">
                                    <tbody>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Sounding onboard alarm. Tone Sequence 3 - 'Overpressure'.</td>
                                          <td class="td-actions text-right">
                                             55 seconds ago
                                          </td>
                                       </tr>
                                       <tr class="bg-warning">
                                          <td><i class="fa fa-warning text-warning"></i></td>
                                          <td>Sensor 'hp_psi_0' passed high watermark: 1500psi.</td>
                                          <td class="td-actions text-right">
                                             3 seconds ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Vent Valve Reports: Open.</td>
                                          <td class="td-actions text-right">
                                             55 seconds ago
                                          </td>
                                       </tr>
                                       <tr class="bg-danger">
                                          <td><i class="fa fa-exclamation text-danger"></i></td>
                                          <td>Post UI Alert: .danger:  Cease Filling Immediately. Fill Valve State: <code>Error</code>.</td>
                                          <td class="td-actions text-right">
                                             55 seconds ago
                                          </td>
                                       </tr>
                                       <tr class="bg-danger">
                                          <td><i class="fa fa-exclamation text-danger"></i></td>
                                          <td>Sounding onboard alarm. Tone sequence 0 - 'General Alarm'.</td>
                                          <td class="td-actions text-right">
                                             55 seconds ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>State Transition: Fill -> Emergency.</td>
                                          <td class="td-actions text-right">
                                             55 seconds ago
                                          </td>
                                       </tr>
                                       <tr class="bg-danger">
                                          <td><i class="fa fa-exclamation text-danger"></i></td>
                                          <td>Fill Valve Failed to close. Declaring Emergency.</td>
                                          <td class="td-actions text-right">
                                             55 seconds ago
                                          </td>
                                       </tr>
                                       <tr class="bg-warning">
                                          <td><i class="fa fa-warning text-warning"></i></td>
                                          <td>Fill Valve stuck, Attempt 2 of 2.</td>
                                          <td class="td-actions text-right">
                                             58 seconds ago
                                          </td>
                                       </tr>
                                       <tr class="bg-warning">
                                          <td><i class="fa fa-warning text-warning"></i></td>
                                          <td>Sustained positive fill rate, did valve close?.</td>
                                          <td class="td-actions text-right">
                                             1 minute ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Target Pressure Reached.  Fill Valve Closing.</td>
                                          <td class="td-actions text-right">
                                             1 minute ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Positive Fill Rate.</td>
                                          <td class="td-actions text-right">
                                             3 minutes ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Fill valve reports open.</td>
                                          <td class="td-actions text-right">
                                             3 minutes ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>State Transition: Boot -> Fill.</td>
                                          <td class="td-actions text-right">
                                             3 minutes ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Remote command request to Fill - Accepted.</td>
                                          <td class="td-actions text-right">
                                             3 minutes ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Flight Profile Update: <code>enforce-valid-profile</code>: <code>True</code> &rarr; <code>False</code></td>
                                          <td class="td-actions text-right">
                                             5 minutes ago
                                          </td>
                                       </tr>
                                       <tr>
                                          <td><i class="fa fa-info text-info"></i></td>
                                          <td>Remote command request to Fill - Declined: <code>Flight Profile Error</code>.</td>
                                          <td class="td-actions text-right">
                                             5 minutes ago
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                              <div class="footer">
                                 <hr>
                                 <div class="stats">
                                    <i class="fa fa-history"></i> Updated 1 second ago
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
{% include '_footer.html' %}
