<div class="card">
   <div class="header">
      <h4 class="title">Electrical</h4>
      <p class="category">Batteries</p>
   </div>
   <div class="content">
      <hr>
        <h2>38.4 <small>V</small>&nbsp;</h2>
      <hr>
        <h2>850 &nbsp;<small>mA</small>&nbsp;</h2>
      <hr>
        <h2>38.5 &nbsp;<small>m/s<sup>2</sup></small>&nbsp;</h2>
      <div class="footer">
         <hr>
         <div class="stats">
            <i class="fa fa-check text-success"></i>&nbsp; Navigation Ok
         </div>
      </div>
   </div>
</div>
