<div class="card">
   <div class="header">
      <h4 class="title">Environment</h4>
      <p class="category">Pressure, Humidity, Temp</p>
   </div>
   <div class="content">
      <hr>
      <div class="">
         <h2>500 <small>Torr</small>&nbsp;</h2>
      </div>
      <hr>
      <h2>20%&nbsp;<small>RH</small>&nbsp;</h2>
      <hr>
      <h2>25° &nbsp;<small>C</small>&nbsp;</h2>
      <div class="footer">
         <hr>
         <div class="stats">
            <i class="fa fa-check text-success"></i>&nbsp; Environment Ok
         </div>
      </div>
   </div>
</div>
