<div class="card ">
   <div class="header">
      <h4 class="title">Flight Profile</h4>
      <p class="category">Competition Flight &nbsp;• &nbsp;Loaded From Disk</p>
   </div>
   <div class="content">
      <table class="table table-hover table-striped">
         <thead>
            <tr>
               <th>Ok</th>
               <th>Name</th>
               <th>Value</th>
               <th>Units</th>
               <th>Description</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>System Pressure</td>
               <td>1500</td>
               <td>PSI</td>
               <td>Primary Tank Pressure (1 ATM Relative)</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Track Length</td>
               <td>1250</td>
               <td>Meters</td>
               <td>Total Track Length</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Launch Position</td>
               <td>5</td>
               <td>Meters</td>
               <td>Position of vehicle at launch</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Brake Set A - Enable</td>
               <td>True</td>
               <td>Boolean</td>
               <td>Enable Braking with brake set A</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Brake Set A - Max PSI</td>
               <td>500</td>
               <td>PSI</td>
               <td>Maximium Allowable Pressure in Brake set A</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Brake Set B - Enable</td>
               <td>True</td>
               <td>Boolean</td>
               <td>Enable Braking with brake set B</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Brake Set B - Max PSI</td>
               <td>500</td>
               <td>PSI</td>
               <td>Maximium Allowable Pressure in Brake set B</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Brake Set C - Enable</td>
               <td>True</td>
               <td>Boolean</td>
               <td>Enable Braking with brake set C</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Brake Set C - Max PSI</td>
               <td>500</td>
               <td>PSI</td>
               <td>Maximium Allowable Pressure in Brake set C</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Target Velocity</td>
               <td>282</td>
               <td>m/s</td>
               <td>Target Vehicle Velocity</td>
            </tr>
            <tr>
               <td><i class="fa fa-circle text-success"></i></td>
               <td>Fixed Buffer Zone</td>
               <td>50</td>
               <td>Meters</td>
               <td>Buffer Zone at end of track</td>
            </tr>
         </tbody>
      </table>
      <div class="footer">
         <div class="legend">
            <i class="fa fa-circle text-success"></i>&nbsp;Config Ok&nbsp;<i class="fa fa-circle text-warning"></i>&nbsp;Config Warning&nbsp;<i class="fa fa-circle text-danger"></i>&nbsp;Config Error
         </div>
         <hr>
         <div class="stats">
            <i class="fa fa-check text-success"></i> Flight Profile Ok &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
         </div>
      </div>
   </div>
</div>
