<div class="card">
   <div class="header">
      <h4 class="title">Air Supply</h4>
      <p class="category">Propulsion Tanks</p>
   </div>
   <div class="content">
      <hr>
      <div>
         <h2>4600 <small>PSI</small>&nbsp;</h2>
      </div>
      <hr>
      <h2>-550&nbsp;<small>PSI/s</small>&nbsp;</h2>
      <hr>
      <h2>10° &nbsp;<small>C</small>&nbsp;</h2>
      <div class="footer">
         <hr>
         <div class="stats">
            <i class="fa fa-check text-success"></i>&nbsp; Propulsion Tanks Ok
         </div>
      </div>
   </div>
</div>
