<div class="card">
   <div class="header">
      <h4 class="title">Tanks</h4>
      <p class="category">Primary Tank</p>
   </div>
   <div class="content">
      <hr>
      <div class="text-warning">
         <h2>1560 <small>PSI</small>&nbsp;</h2>
      </div>
      <hr>
      <h2>+5&nbsp;<small>PSI/s</small>&nbsp;</h2>
      <hr>
      <h2>15° &nbsp;<small>C</small>&nbsp;</h2>
      <div class="footer">
         <hr>
         <div class="stats">
            <i class="fa fa-times text-danger"></i>&nbsp; Primary Tank Fault
         </div>
      </div>
   </div>
</div>
